{% extends "base.html" %}
{% block title %}Options{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: none;
            height: 100px;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: #F7F9F9;
            background-color: #130F1C;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover:not(.active) {
            background-color: #0F7173;
        }
        
        .logout {
            background-color: #C36004;
        }
        .active {
            background-color: #0F7173;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Create manager Navbar with logo, 3 pages, a welcome message displaying username, logout button -->
    <ul>
        <li style="width:250px;height:60;margin:20px 0px 20px 25px;"><img src="/static/img/Logo-nav.png"></li>
        <li style="margin:25px 25px 25px 25px;"><a href="{{url_for('managerpage')}}" class="active">Search items</a></li>
        <li style="margin:25px 25px 25px 25px;"><a href="{{url_for('manageraddpage')}}">Add new item</a></li>
        <li style="float:right;margin:25px 25px 25px 25px;"><a href={{ url_for('user.logout') }} class="logout">{%trans%}Log out{%endtrans%}</a></li>
        <li style="float:right;margin:25px 25px 25px 25px;line-height: 46px;">Welcome back {%if current_user.is_authenticated %}{{current_user.username}}{% endif %}!</li>
    </ul>

    <table>
        <tr>
            <th>DBID</th>
            <th>Name</th>
            <th>OEM</th>
            <th>Amount</th>
            <th>Minamount</th>
        </tr>
        <tr>
        {% for value in clickeditem %}
                <td>{{value}}</td>
        {% endfor %} 
        </tr>
        <tr>
            <form method="post" action="">
                {{ editform.hidden_tag() }}
                <td>
                    
                </td>
                <td>
                    {{ editform.name() }}
                </td>
                <td>
                    {{ editform.oem() }}
                </td>
                <td>
                    {{ editform.amount() }}
                </td>
                <td>
                    {{ editform.minamount() }}
                </td>
                <td>
                    {{ editform.submitedit() }}
                </td>
                <td>
                    {{ editform.submitdelete() }}
                </td>
                <td>
                    {{ editform.submitstats() }}
                </td>
            </form>
        </tr>
    </table>

    

{% endblock %}