{% extends 'base.html' %}
{% block title %}CRUD{% endblock %}
{% block content %}
<p>Create</p>
<form method="post" action="">
    {{ createform.hidden_tag() }}
    {{ createform.name() }}
    {{ createform.oem() }}
    {{ createform.amount() }}
    {{ createform.submitcreate() }}
</form>
<p>Read</p>
<form method="post" action="">
    {{ readform.hidden_tag() }}
    {{ readform.oemorname() }}
    {{ readform.submitread() }}
</form>
{% if select_items %}
    {% for item in select_items %}
        <p>{{item}}</p>
    {% endfor %}
{% endif %}
{% endblock %}